pre {
  border: 1px dashed #BBB !important;
  padding: 15px !important;
  overflow: hidden  !important;
  
  font-family: monospace !important;
}

/* This should remove the underlines from anchors (headers and such) */
a[name] {
  text-decoration: none;
}